<!-- 404.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>NodeJS API</title>
	<style>
		body { background-color: #caddda; }
		.block { text-align: center; width: 70%; margin-left: 15% }
		h1 {color: #494949; font-size: 3.5em;}
		p {color: #494949; font-size: 1.2em}
	</style>
</head>
<body>
	<div class="block">
		<h1> 404: Page could not be found</h1>
		<p>ENOENT: no such file or directory
		</p>
		<p><a href="/">На главную</a></p>
		
	</div>
</body>
</html>



