<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> NodeJS About</title>
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
	<link rel="stylesheet" type="text/css" href="/public/css/Bootstrap v4.3.1.css">
</head>
<body>
	 <% include header.ejs %>
	<div class="block">
		<h1>About Node.js</h1>
		<p><%= aboutVer %></p>
		<p>Node предназначен для создания масштабируемых сетевых приложений как среда выполнения JavaScript с асинхронным управлением событиями. В следующем примере «hello world» многие соединения могут обрабатываться одновременно. При каждом соединении вызывается обратный вызов, но если не нужно выполнять какую-либо работу, узел будет спать.
		</p>
	</div>
</body>
</html>