<!-- index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>NodeJS API</title>
 	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>
<body>
	<div class="block">
		<h1> Node.js®</h1>
		<p><%= titles %></p>
		<p>Справочная документация по API предоставляет подробную информацию о функции или объекте в Node.js. 
			В этой документации указывается, какие аргументы принимает метод, возвращаемое значение этого метода
			и какие ошибки могут быть связаны с этим методом.
			Он также указывает, какие методы доступны для разных версий Node.js.
		</p>
		<p><a href="/about/TEST2">about Node JS</a></p>
	</div>
</body>
</html>



