<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> NodeJS Security</title>
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>
<body>
	 <% include header.ejs %>
	<div class="block">
		<h1>Сообщение об ошибке в Node.js</h1>

		<p>Сообщайте об ошибках безопасности в Node.js через HackerOne. Ваш отчет будет подтвержден в течение 24 часов, и вы получите более подробный ответ на свой отчет в течение 48 часов с указанием следующих шагов в обработке вашего представления. </p>
		<p>После первоначального ответа на ваш отчет команда безопасности постарается информировать вас о прогрессе, достигнутом в исправлении и полном объявлении, и может запросить дополнительную информацию или рекомендации относительно сообщаемой проблемы. Эти обновления будут отправляться как минимум каждые пять дней; на практике это чаще происходит каждые 24-48 часов.</p>
		</p>
	</div>
</body>
</html>