<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>NodeJS API</title>
 	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>
<body>
	<div class="block">
		<h1> 404: Page could not be found</h1>
		<p>ENOENT: no such file or directory
		</p>
		<p><a href="/">На главную</a></p>
		
	</div>
</body>
</html>



