<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="/public/css/Bootstrap v4.3.1.css">
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>
<body>
	
	<% include head.ejs %>
	<div class="block">
		<p>Some about...</p>
	</div>

	
	<button>Показать друзей</button>
	<ul></ul>









	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		// получение токена
		var URL = location.href								// считываем URL
		var Hash = URL.substring(URL.indexOf('#')+1)		// hash : 
		token = new URLSearchParams(Hash)									
		const API_KEY = token.get('access_token')			// передаем токен
		
		


		function getUrl(method, params) {
			params = params || {}							// params == params иначе {пустой Object}
			params['access_token'] = API_KEY
			return  'https://api.vk.com/method/'+method+'?' + $.param(params) + '&v=5.52'
		}
		
		function sendRequest(method, params,func) {
			// тестовый запрос - проверка токена
			$.ajax({
				url: getUrl(method, params),
				method: 'GET',
				dataType: 'JSONP',
				success: func
			})
		}

		sendRequest('friends.search', {count: 60, fields: 'photo_200'}, function(data){
			console.log(data)
		}) 

	</script>
</body>
</html>