<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>
<body>
	<div class="block">
		<p>Some about...</p>
	</div>
</body>
</html>