<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="/public/css/Bootstrap v4.3.1.css">
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>
<body  class="blue">
	<% include head.ejs %>
	<div class="block">
		<p>Accept.</p>
	</div>
</body>
</html>