<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/public/css/Bootstrap v4.3.1.css">
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
  </head>
  <body>
  	<% include head.ejs %> 
	<div class="block">
		<p>Start</p>
		<form method="post" action="/index">  
			<div class="form-group col-md-4"> 
			    <label for="testEmail">Email</label>
			    <input type="email" name="email" class="form-control" id="testEmail">
		  	</div>
		  	<div class="form-group col-md-4">
			    <label for="testPass">Password</label>
			    <input type="password" name="pass" class="form-control" id="testPass">
			    
			    <label class="form-check-label">
			    <input type="checkbox" name="check" class="form-check-input">Check
			    </label>
			    <br><br>
				<button  type="submit" class=" col-md-4 btn btn-primary ">Sign Up</button>
		  	</div>
		</form>
	</div>
	<div id="root"></div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>

		//https://oauth.vk.com/authorize?client_id=7104314&display=page&redirect_uri=https://oauth.vk.com/blank.html&scope=friends&response_type=token&v=5.52

		const API_KEY = 'fd7cebe7baeebb86f39ee0db5f828c526503548f5adc57cb6397d51a0b9c5a3fa94521168613119404eb3'

		$.ajax({
			url: 'https://api.vk.com/method/'+
				'friends.search?count=60'+
				'&fields=photo_100'+
				`&access_token=${API_KEY}`+
				'&v=5.52',
			method: 'GET',
			dataType: 'JSONP',
			success: function(data){
				console.log(data )
			}
		})
	</script>
</body>
</html>


