<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/public/css/Bootstrap v4.3.1.css">
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>
<body>
	<div class="block">
		<p>Start</p>
	<form method="post" action="/about">  
		<div class="form-group col-md-4"> 
		    <label for="">Email</label>
		    <input type="email" class="form-control" id="">
	  	</div>
	  	<div class="form-group col-md-4">
		    <label for="">Password</label>
		    <input type="password" class="form-control" id="">
		    <br>
			<button  type="submit" class="btn btn-primary">Sign Up</button>
	  	</div>
	</form>
</div>

</body>
</html>