<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/public/css/Bootstrap v4.3.1.css">
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
  </head>
  <body>
  	<% include head.ejs %> 
	<div class="block">
		<p>Start</p>
		<form method="post" action="/index">  
			<div class="form-group col-md-4"> 
			    <label for="testEmail">Email</label>
			    <input type="email" name="email" class="form-control" id="testEmail">
		  	</div>
		  	<div class="form-group col-md-4">
			    <label for="testPass">Password</label>
			    <input type="password" name="pass" class="form-control" id="testPass">
			    
			    <label class="form-check-label">
			    <input type="checkbox" name="check" class="form-check-input">Check
			    </label>
			    <br><br>
				<button  type="submit" class=" col-md-4 btn btn-primary ">Sign Up</button>
		  	</div>
		</form>
	</div>
	<div id="root"></div>



	<button onclick="myFunction()">Replace document</button>




	
	<script>
			
		function myFunction() {
		location.replace(
			"https://oauth.vk.com/authorize?client_id=7104314&display=page&redirect_uri="+
			"http://localhost:3000/about&scope=friends&response_type=token&v=5.52")
		}
	</script>

</body>
</html>


